/* Menu Container */
#menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #374151;
  color: white;
  height: 50px;
  width: 50px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  z-index: 20;
}

/* Menu Content */
.menu-content {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.menu-title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu-content ul li {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.menu-content ul li:hover {
  background-color: #05b3d1;
  color: white;
}
#menu:not(.collapsed) {
  height: 100vh;
  width: 16%;
  border-radius: 0;
}

/* will blend in the background if this is not here due to collapse */
#menu:not(.collapsed) .menu-content {
  opacity: 1;
}

/* changes button when collapsed */
#menu:not(.collapsed) #toggleButton {
  position: absolute;
  border-radius: 10px;
  width: 80%;
  height: 40px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* menu collapsing properties */

#menu.collapsed + #visualizer-container #toggleButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: translateX(0);
  z-index: 30;
}

#menu.collapsed + #visualizer-container {
  left: 10px; /* have visualizer expand*/
  width: calc(
    100% - 20px
  ); /* fill to right screen once visualizer moved left on collapse  */
}

#toggleButton {
  background-color: #05b3d1;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 30;
  transition: background-color 0.3s ease, transform 0.4s ease;
}

#toggleButton:hover {
  background-color: #049dbf;
}
